<?xml version="1.0" encoding="UTF-8"?>
<suite name="OrangeHRMSuite" parallel="classes" thread-count="3">
	<listeners>
		<listener class-name="com.orangehrm.listener.TestListener"></listener>
	</listeners>

	<test name="OrangeHRMTest">
		<classes>
			<class name="com.orangeHRM.test.LoginPageTest"></class>
			<class name="com.orangeHRM.test.HomePageTest"></class>
<!--			<class name="com.orangeHRM.test.DummyClass"></class>
			<class name="com.orangeHRM.test.DummyClass2"></class>-->
			<class name="com.orangeHRM.test.DBVerificationTest"></class>
			<class name="com.orangeHRM.test.ApiTest"></class>
		</classes>
	</test>

	<!--	<test name="OrangeHRM_DBValidationTest">
		<classes>
			<class name="com.orangeHRM.test.DBVerificationTest"></class>
		</classes>		
	</test>

	<test name="OrangeHRM_APIValidationTest">
		<classes>
			<class name="com.orangeHRM.test.ApiTest"></class>
		</classes>
	</test>-->
</suite>